.tags-section {
  height: 3rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.item-topic {
  display: flex;
  align-items: center;
  height: 2rem;
  border: 1px solid green;
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-right: 0.3rem;
}
